section
{
	margin:5%;
}
.log-n {
	position:absolute;
	display:flex;
	top:12%;
	left:75%;
}
.log-n div {
	width:100%;
	margin-left:20%;
	padding:10px;

}
.log-n div:hover {
	border: 1px solid #F36911;
}
.tophead {
	overflow:hidden;
}
.tophead div
{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 1.4% 1.6%;
	text-decoration: none;
	font-size: 1.2vw;

}
.tophead div a {
	font-family:sans-serif;
	font-size:1.0vw;
	color:black;
	text-decoration:none;
}
@media only screen and (min-width:1000px)
{
	.mob {
		visibility:hidden;
	}
}
@media only screen and (max-width:480px) {
  /* For mobile phones: */

  .tophead div a {
	  font-size:3.5vw;
  }
  .log-n {
	  top:8%;
	  left:35%;
	  font-size:3.5vw;
  }
  #home,#help,#details,#level,#about{
	  font-size:3.5vw;
  }
  nav hr
  {
	  visibility:hidden;
  }
  .topnav img {
	  width:100%;
	  height:10%;
  }
  .first-section h1 {
	  margin-left:-30%;
	  margin-right:-10%;
	  font-family: Ubuntu;
	  color:#393939;
	  font-size:26vw;
  }
  .first-section h3 {
	  margin-left:-30%;
	  font-size: 4.2vw;
	  font-family: Ubuntu;
  }
  .first-section a
  {
	  font-family:Ubuntu;
	  margin-left:-30%;
	  font-size: 4vw;
	  padding-left:30%;
	  padding-right:30%;
  }
  .image_2 {
	  position:relative;
	  margin-left:40%;
	  left:10%;
  }
  .image_2 img{
	  width:80%;
  }
  .exam-detail {
	  visibility:hidden;
  }
  .mob {
	  width:100%;
	  float:left;
	  background:#373737;
	  font-family: sans-serif;
	  position:relative;
	  top:24%;
	  visibility:visible;
  }
  .mob th {
	  width:70%;
	  padding-left:1%;
	  color:white;
	  text-align:left;
	  font-size:3.5vw;
  }
  .mob td {
	  color:white;
	  font-size: 4vw;
  }
 
}
.line{
	width: 0;
	height: 0;
	background: #F36911;
	right: 400px;
	top: 180px;
	position: absolute;
	-webkit-transition: 0.5s ease;
}

#home:hover ~ .line{
	right: 405px;
    width: 45px;
	height: 5px; 
}
#about:hover ~ .line{
	height: 5px;
	right: 327px;
    width: 45px;
}
#level:hover ~ .line{
    height: 5px;
	right: 250px;
    width: 45px;
}
#details:hover ~ .line{
    height: 5px;
	right: 164px;
    width: 48px;
}
#help:hover ~ .line{
    height: 5px;
	right: 92px;
    width: 40px;
}
#foundation:hover ~ .line{
	top:110px;
	height: 5px;
	right: 355px;
    width: 90px;
}
#advanced:hover ~ .line{
	top:110px;
	height: 5px;
	right: 245px;
    width: 80px;
}
#expert:hover ~ .line{
	top:110px;
	height: 5px;
	right: 160px;
    width: 50px;
}

#fhome:hover ~ .line{
	top:900px;
	right: 405px;
    width: 45px;
	height: 5px; 
}
#fabout:hover ~ .line{
	top:900px;
	height: 5px;
	right: 327px;
    width: 45px;
}
#flevel:hover ~ .line{
    top:900px;
	height: 5px;
	right: 250px;
    width: 45px;
}
#fdetails:hover ~ .line{
    top:900px;
	height: 5px;
	right: 164px;
    width: 48px;
}
#fhelp:hover ~ .line{
    top:900px;
	height: 5px;
	right: 92px;
    width: 40px;
}

.icon
{
	width: 15px;
	display:inline-block;
	float: left;
	margin-right:5px;
	height: 15px;
}
.topnav {
	overflow: hidden;
	font-family: sans-serif;
}

.topnav a {
	float: right;
	display: block;
	color: black;
	margin-top:2%;
	text-align: center;
	padding: 2% 3%;
	text-decoration: none;
	font-size: 17px;
}

.topnav a.active {
	color:#F36911;
}

.topnav .icon {
	display: none;
}
.first-section {
	font-family: Ubuntu;
	color:#393939;
	position:absolute;
	margin-top:10%;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.certification-section {
	font-family: Ubuntu;
	color:#393939;
	position:absolute;
	margin-top:10%;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);
}
.certification-section h1 {
	font-size:3vw;
	text-align:center;"
}
.first-section h1 {
	font-size:3vw;
	text-align:center;"
}
.first-section a
{
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px;
	text-decoration:none;
	background-color:#FA4E03;
	color:white;
}
.image_2 {
	position:relative;
	top:40%;
	float:right;
	margin-right:7%;
}
.exam-section {
	top:50%;
	right:0%;
}
.exam-detail .q {
	margin-right:40px;
	margin-left:40px;
	color:gray;
}
.exam-detail {
	width:100%;
	display: block;
	float:left;
	background:#373737;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	font-family: sans-serif;
	position:relative;
	text-align:center;
	top:40%;
}
#certification-detail
{
	margin-top:50%;
}
#certification-detail p {
	line-height:25px;
}
.level-section
{
	font-family: Ubuntu;
	color:#393939;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
#level-section {
	margin-top:950px;
}
.levelnav 
{
	text-align:center;
	overflow: hidden;
	font-family: sans-serif;
}
.levelnav a
{
	color: black;
	margin-top:20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.level-det {
	overflow:hidden;
	display: flex;
}
.testimonial-section {
	font-family: Ubuntu;
	color:#393939;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
#testimonial-section {
	margin-top: 1420px;
}
.testimonialslides
{
	display:none;
}
.testi-det {
	margin-top:100px;
	overflow:hidden;
	display: flex;
}
.leftarrow
{
	position: absolute;
	top:200px;
	left:-100px;
}
.rightarrow {
	position:absolute;
	top:200px;
	right:-100px;
}
.leftarrow:hover {
	border: 1px solid black;
}

.rightarrow:hover {
	border: 1px solid black;
}

.user-section {
	text-align:center;
	left:50%;
	font-family: Ubuntu;
	color:#393939;
	transform: translate(-50%,-50%);
	position:absolute;
}
#user-section {
	margin-top: 2190px;
}


@media screen and (max-width: 650px) {
  td {
    width: 100%;
    display: block;
  }
}

td {
	padding:20px;
}
td:hover {
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
td img
{
	padding-bottom:20px;
}
.dot0 {
	height: 5px;
	width: 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.dot1 {
	height: 5px;
	width: 5px;
	background-color: blue;
	border-radius: 50%;
	display: inline-block;
}
.dot2 {
	height: 5px;
	width: 5px;
	background-color: yellow;
	border-radius: 50%;
	display: inline-block;
}
.dot3 {
	height: 5px;
	width: 5px;
	background-color: orange;
	border-radius: 50%;
	display: inline-block;
}
.dot4 {

	height: 5px;
	width: 5px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
}

#footer {
	height:160px;
	width:100%;
	margin-top:2800px;
	position: relative;
}
.bottomnav a{
	padding:9px;
	text-decoration:none;
	float: left;
	display: block;
	color: black;
}
}
